@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

@font-face {
    font-family: 'Brawl';
    src: url('/public/assets/fonts/Lilita-One.ttf');
    font-weight: 700;
}